/* font import from GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');;

body {
    font-family: "Roboto Mono", monospace;
    background-color: #f2f2f2;
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    text-align: center;
}

h1 {
    font-family: Orbitron;
    text-align: center;
}

p {
    font-family: "Roboto Mono", monospace;
}


